@using MVCConsumeWCF.EmployeeService

@model IEnumerable<Employee>
@{
    ViewData["Title"] = "Employee List";
}
<h2>Employee List</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.salary)
            </th>            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => employee.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => employee.salary)
                </td>
                <td>
                    @Html.ActionLink("Update", "Update", new { id = employee.id }) |
                    @Html.ActionLink("Details", "Details", new { id = employee.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = employee.id })
                </td>
            </tr>
        }
    </tbody>
</table> 